/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

:root{
    --cor1:#46591D;
    --cor2: #A5BF6B;
    --cor3: #8DA633;
    --cor4: #D9D48F;
    --cor5: #594A3C;
  }